<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
            <div class="resource">
                <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number disabled=" disabled"" />
                <span> / </span>
                <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number disabled=" disabled"" />
            </div>
            <div class="resource">
                <input type="text" name="data.energy.value" value="{{data.energy.value}}" data-dtype="Number disabled=" disabled"" />
                <span> / </span>
                <input type="text" name="data.energy.max" value="{{data.energy.max}}" data-dtype="Number disabled=" disabled"" />
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Items</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab attributes" data-group="primary" data-tab="description">

            {{!-- Health Bar and Consumable --}}

            <label class="armor bar-label"> Armure: </label>
            <input type="text" name="data.Armor.value" value="{{data.Armor.value}}" data-dtype="Number" />

            <label class="healthNod nodv"> nods de vie: </label>
            <input type="text" name="data.healthNod.value" value="{{data.healthNod.value}}" data-dtype="Number" />

            <label class="armorNod noda"> nods de bouclier: </label>
            <input type="text" name="data.shieldNod.value" value="{{data.shieldNod.value}}" data-dtype="Number" />

            <label class="energyNod node"> nods d'énergie: </label>
            <input type="text" name="data.energyNod.value" value="{{data.energyNod.value}}" data-dtype="Number" />

            <label class="grenade"> grenades: </label>
            <input type="text" name="data.grenade.value" value="{{data.grenade.value}}" data-dtype="Number" />
        </div>
        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="aspect-list">
                {{#each actor.data.aspect as |aspect id|}}
                <li class="aspect flexrow" data-aspect="{{aspect}}">
                    <h4 class="aspect-name">{{aspect.name}}</h4>
                    <span class="aspect-value">{{aspect.aspectLevel}}</span>
                    <div class="aspect-controls">
                        <a class="aspect-control aspect-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <ol class="attributes-list">
                            {{#each aspect.attributes as |attr key|}}
                            <li class="attribute flexrow" data-attribute="{{attr}}">
                                <h4 class="attr-name">{{attr.name}}</h4>
                                <label class="attr-value checkbox"><input type="checkbox" name="attr.value" /></label>
                                <h4 class="attr-name">{{attr.value}}</h4>
                            </li>
                            {{/each}}
                        </ol>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>

    </section>
</form>


